/* Start adding your styling below! */ 
body {
    background-color: yellow;
    text-align: left;
    h1 {
        font-size: 36px;
        font-style: italic;
        color: silver;
    }
    .center {
        text-align: center;
    }
    ul {
        color: green;
    }
    #cool-text {
        color: blue;
    }
    #list {
        color: orangered;
     }
}


